
	<div id="outline">
		<div id="canister">	

			<div class="portfolio">
				<div>A portfolio snapshot from {{update.saved.totalDate}}</div>
				<div><span class="fontLarger">${{update.saved.totalValue}}</span> was the total portfolio value.</div>
				<div>A YTD {{update.saved.upDown}} of <span class="fontLarger" style="color:{{update.saved.color}};">${{update.saved.ytdValue}}</span> or <span style="color:{{update.saved.color}};">{{update.saved.percentage}}%</span></div>
			</div>

			<div class="divider"></div>	

			<div class="portfolio">
				<div>As of close on {{update.close.partialDate}}</div>
				<div><span class="fontLarger">${{update.close.totalValue}}</span> was the total portfolio value.</div>
				<div>A YTD {{update.close.upDown}} of <span class="fontLarger" style="color:{{update.close.color}};">${{update.close.ytdValue}}</span> or <span style="color:{{update.close.color}};">{{update.close.percentage}}%</span></div>
			</div>

			<div class="divider"></div>	

			<div>
				<div class="fundName">Vanguard Total Stock Market Index (VTSAX)</div>
				<div>It closed at ${{update.totalfund.closeValue}}</div>
				<div>With a YTD return of <span style="color:{{update.totalfund.ytdColor}};">{{update.totalfund.ytdResults}}%</span></div>
				<div class="spaceBar">Since the last snapshot the value</div>				
				<div class="spaceBar">has {{update.totalfund.upDown}} by <span style="color:{{update.totalfund.differenceColor}};">${{update.totalfund.difference}}</span> or <span style="color:{{update.totalfund.differenceColor}};">{{update.totalfund.differencePercentage}}%</span></div>
			</div>
			<div>
				<div class="fundName spaceTop">Vanguard Information Technology Index (VITAX)</div>
				<div>It closed at ${{update.iTfund.closeValue}}</div>
				<div>With a YTD return of <span style="color:{{update.iTfund.ytdColor}};">{{update.iTfund.ytdResults}}%</span></div>
				<div class="spaceBar">Since the last snapshot the value</div>				
				<div class="spaceBar">has {{update.iTfund.upDown}} by <span style="color:{{update.iTfund.differenceColor}};">${{update.iTfund.difference}}</span> or <span style="color:{{update.iTfund.differenceColor}};">{{update.iTfund.differencePercentage}}%</span></div>			
			</div>
			<div>
				<div class="fundName spaceTop">Matthews China Fund (MCHFX)</div>
			<div>It closed at ${{update.chinafund.closeValue}}</div>
				<div>With a YTD return of <span style="color:{{update.chinafund.ytdColor}};">{{update.chinafund.ytdResults}}%</span></div>
				<div class="spaceBar">Since the last snapshot the value</div>				
				<div class="spaceBar">has {{update.chinafund.upDown}} by <span style="color:{{update.chinafund.differenceColor}};">${{update.chinafund.difference}}</span> or <span style="color:{{update.chinafund.differenceColor}};">{{update.chinafund.differencePercentage}}%</span></div>				
			</div>
			<div>
				<div class="fundName spaceTop">SPDR Gold Shares (GLD)</div>
			<div>It closed at ${{update.goldfund.closeValue}}</div>
				<div>With a YTD return of <span style="color:{{update.goldfund.ytdColor}};">{{update.goldfund.ytdResults}}%</span></div>
				<div class="spaceBar">Since the last snapshot the value</div>				
				<div class="spaceBar">has {{update.goldfund.upDown}} by <span style="color:{{update.goldfund.differenceColor}};">${{update.goldfund.difference}}</span> or <span style="color:{{update.goldfund.differenceColor}};">{{update.goldfund.differencePercentage}}%</span></div>				
			</div>

			<div class="divider"></div>

			<form action="/update" method="GET">
				<div class="updateInfo">To update the data to these close numbers,</div>
				<div class="updateInfo">click the button.</div>
				<div class="updateInfo spaceTop"><button type="submit" id="updateButton">Update</button></div>
			</form>

			<div id="clearBottom"></div>
 
		</div>
	</div>
