
	<div id="outline">
		<div id="canister">	

			<div class="portfolio">
				<div>As of the last saved values on {{update.saved.totalDate}}</div>
				<div><span class="fontLarger">${{update.saved.totalValue}}</span> was the total portfolio value.</div>
				<div>A YTD {{update.saved.upDown}} of <span class="fontLarger">${{update.saved.ytdValue}}</span> or {{update.saved.percentage}}%</div>
			</div>

			<div class="divider"></div>	

			<div class="portfolio">
				<div>As of close on {{update.close.partialDate}}</div>
				<div><span class="fontLarger">${{update.close.totalValue}}</span> was the total portfolio value.</div>
				<div>A YTD {{update.close.upDown}} of <span class="fontLarger">${{update.close.ytdValue}}</span> or {{update.close.percentage}}%</div>
			</div>

			<div class="divider"></div>	

			<div>
				<div class="fundName">Vanguard Total Stock Market Index (VTSAX)</div>
				<div>The last saved value was ${{update.totalfund.updateValue}}</div>
				<div>It closed at ${{update.totalfund.closeValue}}</div>
				<div class="spaceBar">YTD return = {{update.totalfund.results}}%</div>				
			</div>
			<div>
				<div class="fundName spaceTop">Vanguard Information Technology Index (VITAX)</div>
				<div>The last saved value was ${{update.iTfund.updateValue}}</div>
				<div>It closed at ${{update.iTfund.closeValue}}</div>
				<div class="spaceBar">YTD return = {{update.iTfund.results}}%</div>				
			</div>
			<div>
				<div class="fundName spaceTop">Matthews China Fund (MCHFX)</div>
				<div>The last saved value was ${{update.chinafund.updateValue}}</div>
				<div>It closed at ${{update.chinafund.closeValue}}</div>
				<div class="spaceBar">YTD return = {{update.chinafund.results}}%</div>				
			</div>
			<div>
				<div class="fundName spaceTop">SPDR Gold Shares (GLD)</div>
				<div>The last saved value was ${{update.goldfund.updateValue}}</div>
				<div>It closed at ${{update.goldfund.closeValue}}</div>
				<div class="spaceBar">YTD return = {{update.goldfund.results}}%</div>				
			</div>

			<div class="divider"></div>

			<form action="/update" method="GET">
				<div class="updateInfo">To update the data to these close numbers,</div>
				<div class="updateInfo">click the button.</div>
				<div class="updateInfo spaceTop"><button type="submit" id="updateButton">Update</button></div>
			</form>

			<div id="clearBottom"></div>
 
		</div>
	</div>
