
	<div id="outline">
		<div id="canister">

			<div class="portfolio">The following items have been updated and saved:</div>

			<div class="spaceBar spaceTop">Closing date: {{posted.date}}</div>
			<div class="spaceBar  spaceTop">Total portfolio value: ${{posted.tPortfolio}}</div>
			<div class="spaceBar  spaceTop">An increase or decrease: {{posted.increaseDecrease}}</div>
			<div class="spaceBar  spaceTop">If in the red or the black: {{posted.color}}</div>	
			<div class="spaceBar  spaceTop">The dollar difference: ${{posted.difference}}</div>
			<div class="spaceBar  spaceTop">The percentage difference: {{posted.percent}}%</div>			
			<div class="spaceBar  spaceTop">Vanguard total stock market index: ${{posted.tStock}}</div>
			<div class="spaceBar  spaceTop">Vanguard information technology index: ${{posted.iTech}}</div>
			<div class="spaceBar  spaceTop">Matthews china fund: ${{posted.matthews}}</div>
			<div class="spaceBar  spaceTop">SPDR gold shares: ${{posted.gShares}}</div>

			<div class="spaceTop">Lets take another look at those <a href="/">numbers</a> again.</div>

			<div id="clearBottom"></div>
			
 		</div>
	</div>
