
	<div id="outline">

		<div class="topFund saved">The following items have been updated and saved:

			<div class="spaceBar">Closing date: {{posted.date}}</div>
			<div class="spaceBar">Total portfolio value: {{posted.tPortfolio}}</div>
			<div class="spaceBar">An increase or decrease: {{posted.increaseDecrease}}</div>
			<div class="spaceBar">The dollar difference: {{posted.difference}}</div>
			<div class="spaceBar">The percentage difference: {{posted.percent}}</div>			
			<div class="spaceBar">Vanguard total stock market index: {{posted.tStock}}</div>
			<div class="spaceBar">Vanguard information technology index: {{posted.iTech}}</div>
			<div class="spaceBar">Matthews china fund: {{posted.matthews}}</div>
			<div class="spaceBar">SPDR gold shares: {{posted.gShares}}</div>

		</div>

		<div class="fund">Lets take a look at those <a href="/">numbers</a> again.</div>

		<div id="clearBottom"></div>
 
	</div>
